{
  "arrowParens": "avoid",
  "printWidth": 120,
  "jsxBracketSameLine": true,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "helpers/*.js",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
