.mv4 {
  margin-bottom: 4px;
  margin-top: 4px;
}

.mh8{
  margin-left: 8px;
  margin-right: 8px;
}

.mb8{
  margin-bottom: 8px;
}

.ph8{
  padding-left: 8px;
  padding-right: 8px;
}

.pt50{
  padding-top: 50px;
}
